@page "/albums"
@using System
@using System.IO
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Logging
@inject ILogger<Albums> Logger
@inject IWebHostEnvironment Environment

<head>

    <PageTitle>Music Player</PageTitle>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>
    <header>

    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Albums</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Album</th>
                                <th>Artist</th>
                                <th>Year</th>
                                <th>Genre</th>
                                <th>Cover</th>
                            </tr>
                        </thead>
                        <tbody>
                            @* @foreach (var album in Model.Albums)
                                <tr>
                                <td>@album.Title</td>
                                <td>@album.Artist</td>
                                <td>@album.Year</td>
                                <td>@album.Genre</td>
                                <td><img src="@album.Cover" alt="@album.Title" class="img-thumbnail" /></td>
                                </tr>
                                @endforeach *@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>
